version: "3.9"

services:
  db:
    image: postgres:15
    container_name: retention-db
    env_file:
      - ./backend/.env
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: retention-backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8081:8081"

  frontend:
    build:
      context: ./frontend
    container_name: retention-frontend
    depends_on:
      - backend
    ports:
      - "5501:3001"

volumes:
  db_data:
