fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
requests
pydantic
pytest
pytest-mock
httpx
google-genai
pandas
joblib
numpy==1.23.5
scikit-learn==1.2.2
imbalanced-learn==0.11.0
seaborn
matplotlib
notebook
ipykernel